/*Write your custom css in this file.*/

.news-item__img {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0 !important;
}

.text-right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer!important;
}

.q-img__image--loaded {
    opacity: 1;
}

.q-img__image--with-transition {
    transition: opacity .28s ease-in;
}

.q-img__image {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    /*opacity: 0;*/
}

.news-animation {
    height: 100%;
    border-radius: 20px;
    border: 1px solid #d8d9da;
}

.widget-icon2 {
    /* float: left; */
    /* background-color: #4466F2; */
    height: 60px;
    /* width: 55px; */
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.avatar.avatar-lg {
    margin: 5px auto 0px auto;
}
/*#sidebar-menu a:hover,*/
.blog-card.card-body-animated:hover img {
    transform:scale(1.02, 1.02);
}
a:hover .card-body-animated img {
    transform:scale(1.04, 1.04);
}
.avatar-lg:hover #profile-image-preview {
    /*transform: translateY(0) scale(1);*/
    transform:scale(1.06, 1.06);
}
#sidebar-menu a {
    /*transition: transform 100ms;*/
}
.card-body-animated img,
a .card-body-animated img,
#profile-image-preview {
    transition: transform 300ms;
}

.form-signin {
    position: relative;
    top: 50%;
    margin:  0 auto;
}
.form-signin .card {
    margin: -50% 0 0 0;
}

.widget-details h2 {
    margin: 0;
    color: #000;
}

.widget-icon2 {
    float: left;
    background-color: #4466F2;
    height: 55px;
    width: 125px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bg-success2 {
    background-color: #fff!important;

}
.widget-details {
    max-width: 55%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.docs_file .my-dropzone .dz-size, 
.docs_file .my-dropzone .dz-success-mark, 
.docs_file .my-dropzone .dz-error-mark, 
.docs_file .my-dropzone .dz-image {
    display: none;
} 
@media (max-width: 767px) {
    .blog-card {
        height: auto;
    }
    body {
        background-position-y: -63px;
    }
}


.mr-4, .mx-4 {
    margin-right: 0.8rem !important;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.d-flex2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: -25px 0;
}

a.text-hover-primary, .text-hover-primary {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.font-size-h4 {
    font-size: 1.45rem !important;
}
.text-dark-75 {
    color: #3F4254 !important;
}
.font-weight-bolder {
    font-weight: 600 !important;
}
.pt-7, .py-7 {
    padding-top: 1.75rem !important;
}
.pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
}
.m-0 {
    margin: 0 !important;
}
.card-title {
    margin-bottom: 2rem;
}

.font-size-sm {
    font-size: 0.925rem;
}
.text-dark-50 {
    color: #7E8299 !important;
}
.font-weight-bold {
    font-weight: 500 !important;
}
.pb-7, .py-7 {
    padding-bottom: 1.75rem !important;
}

.pt-1, .py-1 {
    padding-top: 0.25rem !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.project-overview-widget .progress-outline .progress .progress-bar {
    background-color: rgba(19, 174, 130, 0.4) !important;
    font-size: 14px;
}

.project-overview-widget {
    padding: 40px 25px 45px;
}

.project-overview-widget .progress-outline {
    border: 2px solid #39B691;
    border-radius: 25px;
    padding: 5px;
}

.project-overview-widget .progress-outline .progress {
    margin: auto;
    border-radius: 25px;
    background-color: transparent;
    height: 22px;
}
.mt5 {
    margin-top: 5px;
}
.m-auto {
    margin: auto!important;
}
.position-relative {
    position: relative!important;
}

.avatar2 img {
    height: auto !important;
    max-width: 73% !important;
    /*border-radius: 50%; */
}

.centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects_all_accordion .accordion-button {
    background: transparent;
    color:#000;
    box-shadow:none;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #4e5e6a;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13.5px;
}

.projects_all_accordion .card-body {
    font-size: 15px;
}

.projects_all_accordion .accordion-header {
    margin: 0;
}

.projects_all_accordion .accordion-header {
    margin: 0;
}

.projects_all_accordion .widget-container .card {
    box-shadow: 0 0 10px rgb(0 0 0 / 20%) !important;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%) !important;
}

.kanban-item.d-block.returned_1 {
    border-bottom: 3px solid #f5325c;
}
.kanban_collaborators_list {
    margin-top:8px;
    float: right;
    height: 25px!important;
    overflow: hidden;
    max-width:300px;
}
.project_status_widget .text-off.uppercase{
    font-size: 12px;
    white-space: nowrap;
}

.government_program_list {
    text-align: center;
}
.government_program_list h3 {
    margin: 30px 0;
}
.government_program_list .flex-item.no-shrink {
  flex-shrink: 0;
}
.government_program_list .flex_column {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    flex: 1;
}
.government_program_list .flex_column h5 {
    margin: 20px;
    white-space: nowrap;
}
.government_program_list .program_item {
    
}
.government_program_list .program_item a {
    display: block;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 0 15px 0;
    padding:16px;
}
